*{
    box-sizing: border-box;
  }
  
  body{
    background:#92bde7;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#c9e6ff;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .insert{
    background:#f9feff;
  }
  
  /* FORM STYLES */
  .insert form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .insert form label{
    display:block;
  }
  
  .insert form p{
    margin:0;
  }
  
  .insert form .full{
    grid-column: 1 / 3;
  }
  
  .insert form button, .insert form input, .insert form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .insert form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
  }
  
  .insert form button:hover,.insert form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }

  .resultbutton{
    width:20%;
    padding:1em;
    border:1px solid #c9e6ff;
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
  }
  .resultbutton:hover{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
.alert{
text-align: center;
padding: 10px;
background: #79c879;
color: white;
margin-bottom: 10px;
display: none;
  }  

.tableh{
display: none;
}
.tablec{
  display: none;
  }
.shadowbox{
box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.rangeh{
  display: none;
}

  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }
  .showEdit {
    float: right;
    background: #c9e6ff;
    border: 0;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .showEdit:hover {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 0.5s ease-out;
  }
